*.js
!jest.config.js
!webpack.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
config/local.json
config/production.json
dist/
lambda/stack-event-processor.spec.ts
.DS_Store
lambda/stack-event-processor.test.ts
